# dependencies
*/node_modules/*
/node_modules
/client/node_modules
src/images/~BROMIUM/

/.vscode

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/config
/config/default.js*on
/config/default copy.js*on

npm-debug.log*

/deploy.txt
/todo.txt
* copy.js*
* copy.js*on
* copy.md
/backup
/backup/* copy.js*

/client/src/components/questions/* copy.js*
/client/src/components/questions/* copy 1.js*
/client/src/components/questions/* cop 2.js*
/client/src/components/questions/* copy 3.js*
/client/src/components/questions/* copy 4.js*
.eslintcache