.yourOneImg {
    padding-left: 3px;
    padding-right: 3px;
}

.yourOneImg .btn-info {
    margin-top: 2px;
}

.yourOneImg .card {
    margin: 8px 0 24px;
    max-width: 100%;
    padding: 0;
    position: relative;
    display: flex;
}

.yourOneImg .card img {
    border: 1px solid rgba(5, 22, 12, 0.2);
    border-radius: 3px;
    height: auto !important;
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin: 0 auto !important;
}

.yourOneImg .btn-info small {
    font-size: .7rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yourOneImg .btn-danger {
    font-size: .6rem !important;
    margin: 2px;
}