/*FOOTER*/

footer {
  background: #17a2b8;
  background: -webkit-linear-gradient(59deg, #157A6E, #0a3f47);
  background: linear-gradient(59deg, #157A6E, #0a3f47);
  color: white;
}

footer h4 {
  color: #ffc107;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #ffc107 !important;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

footer .logo img {
  filter: drop-shadow(0 0 5px #333);
}

/*SOCİAL İCONS*/
/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.social-network a.icoWhatsapp:hover {
  background-color: #088523 !important;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998 !important;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7 !important;
}

.social-network a.icoInstagram:hover {
  background-color: #DD2A7B !important;
}

.social-network a.icoTwitter:hover {
  background-color: #000000 !important;
}

.social-network a.icoWhatsapp:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i {
  color: #fff !important;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD !important;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 3px solid #ffc107;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li a i {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959 !important;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9 !important;
}