.docsList li {
    display: block;
    list-style: none;
    margin: .6rem 0;
    border: .1px solid #157A6E;
    border-radius: .3rem;
    background-color: #157A6E;
}

.docsList {
    display: block;
    width: 100%;
    padding: 0;
}

.titleToggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border: 2px solid #157A6E;
    border-radius: .3rem;
}

.titleToggler h3 {
    color: #157A6E;
    margin-bottom: 1.1rem;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 900;
}

.titleToggler button {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border: none;
    background: white;
}

.collapseContent p {
    font-size: .9rem;
    margin: 0!important;
    color:rgb(37, 27, 27)!important;
}

.docsLinks {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    /* justify-content: center; */
}

.docsLinks button {
    margin: 0 .5rem;
    padding: .4rem .7rem;
    border: 1px solid rgba(0, 212, 255, 1);
    border-radius: 0.3rem;
    font-size: 0.7rem;
    background-color: rgba(0, 212, 255, 1);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1024px) {
    ul.docsList {
        padding: 0 .7rem;
    }

    .docsList li {
        margin: 1rem 0;
        border: .8px solid #157A6E;
    }

    .titleToggler {
        padding: .8rem;
        border: 1.2px solid #157A6E;
    }

    .titleToggler h3 {
        margin-bottom: 1.2rem;
        font-size: .8rem;
    }

    .collapseContent {
        padding: .8rem .5rem;
    }

    .collapseContent p {
        font-size: .7rem;
    }

    .docsLinks {
        padding: 0;
        padding-top: 1.5rem;
        margin-bottom: 0;
    }
}