body {
    background-color: #f3f3f2 !important;
    font-family: "Montserrat", Tahoma, sans-serif !important;
    font-display: swap !important;
}

/* MAKING ADS DON'T APPEAR BEFORE CONTENT */
iframe {
    z-index: -1 !important;
}

/* reset-css file or css global file */
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

*:focus,
*:hover,
*:active {
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}

a:hover {
    color: #ffc107 !important;
}

header,
footer {
    flex-shrink: 0;
}

header .back-home {
    border: 2px solid #ffffff;
    border-radius: 1.5em;
    font-size: .9rem;
    padding: 1px 8px;
}

div.main {
    flex: 1 0 auto;
}

.modal-content {
    border: 1.5px solid #ffc107;
    border-radius: 0.3rem;
    box-shadow: 0 1.2px 1.3px -0.7px #ffc107,
        1.2px 1.2px 1.2px 1.2px #ffee00;
}

/* primary: #157A6E */
/* success: #499F68 */
/* info: #77B28C */
/* secondary: #C2C5BB */
/* danger: #B4654A */

.card .small-text {
    font-size: .7rem !important;
    font-weight: bold !important;
}

.popup-toast {
    margin: 0 !important;
}

.popup-toast strong.mr-auto {
    width: 100%;
    font-weight: 100 !important;
}

nav.bg-primary,
.modal-header.bg-primary,
button.btn-primary {
    background-color: #157A6E !important;
}

.modal-header .close {
    color: red;
}

header .close {
    color: red;
    font-size: 2.5rem
}

nav .collapse .navbar-text {
    cursor: pointer;
}

nav .toDashboard {
    background-color: #157A6E;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1.5rem;
}

nav .toDashboard .dropdown {
    background-color: transparent;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}

nav .toDashboard .dropdown .btn-secondary,
nav .toDashboard .dropdown .btn-secondary:not(:disabled):not(.disabled).active,
nav .toDashboard .dropdown .btn-secondary:not(:disabled):not(.disabled):active,
nav .toDashboard .dropdown .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

nav .toDashboard .dropdown .dropdown-menu {
    width: 20rem;
    transform: translate3d(-248px, 50px, 0px) !important;
    background-color: #157A6E;
    border: 2px solid #009b53;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0 1.2px 3px -0.7px #1b4f72,
        1.2px 1.2px 1.2px 1.2px #dcf9ff;
    box-shadow: 0 1.2px 1.3px -0.7px #1b4f72,
        1.2px 1.2px 1.2px 1.2px #0c7f96;
}

nav .collapse .login-modal a,
nav .collapse .register-modal a {
    border: 2px solid #ffc107;
    border-radius: 1.5em;
    color: #fff !important;
    padding: 1px 8px;
    font-size: .9rem;
}

nav span.upload-image {
    border: 3px solid #fff;
    padding: .01rem !important;
    background-color: white;
    width: 38px;
    height: 38px;
    clip-path: circle(50% at 50% 50%);
}

nav span.upload-image img {
    min-width: 100%;
    height: 100%;
    clip-path: circle(50% at 50% 50%);
}

nav .dropdown-header {
    padding: .5rem .5rem;
    font-size: .75rem;
    color: #157A6E;
    font-weight: bolder;
}

nav .dropdown-header li {
    color: #157A6E !important;
    font-weight: bold;
    padding: 0.75rem 1.4rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav .dropdown-header li a {
    color: #157A6E !important;
    font-weight: bold !important;
}

nav .dropdown-item-text,
nav .dropdown-item-text a {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.25rem 1rem;
    color: #ffffff !important;
    font-weight: bolder;
    text-decoration: underline;
}

nav .dropdown-item-text a button {
    color: #157A6E !important;
    font-weight: bold;
}

@keyframes slidein {
    from {
        margin-left: 5%;
        width: 100%;
    }

    to {
        margin-left: -5%;
        width: 100%;
    }
}

.posts {
    max-width: 100% !important;
    padding: 0;
    margin: 0;
}

.posts h3 {
    font-size: 2rem;
    text-decoration: underline;
    font-weight: bolder;
}

.posts .text-primary {
    color: #157A6E !important;
}

.posts .text-white {
    color: #ffffff !important;
}

.posts .text-white a {
    color: #ffffff !important;
}

.posts .text-primary a,
.posts .text-primary a:active {
    color: #157A6E !important;
}

.posts .text-success {
    color: #499F68 !important;
}

.posts .text-danger {
    color: #B4654A !important;
}

.posts .text-yellow {
    color: #dfc533 !important;
}

.posts .side-category:hover {
    transform: translateX(5px);
    transition: 500ms;
}

.posts blockquote small {
    border-bottom: .7px solid #157A6E;
    -webkit-box-shadow: 0px 3px 3px -2px rgba(5, 128, 73, 0.57);
    -moz-box-shadow: 0px 3px 3px -2px rgba(5, 128, 73, 0.57);
    box-shadow: 0px 3px 3px -2px rgba(5, 128, 73, 0.57);
}

.view-all-btn.btn {
    background-color: #dfd000;
    border-radius: 60px !important;
    border: 2px solid #157A6E;
    color: #008d07;
    cursor: pointer;
    animation: glowing 2000ms infinite;
}

@keyframes glowing {
    0% {
        background-color: #17a2b8;
        color: #fff;
        box-shadow: 0 0 3px #17a2b8;
    }

    50% {
        background-color: #72b2c2;
        color: #fff;
        box-shadow: 0 0 10px #72b2c2;
    }

    100% {
        background-color: #ffffff;
        color: #17a2b8;
        box-shadow: 0 0 3px #ffffff;
    }
}

.posts .quizzes-list {
    background-color: #eeeded;
    box-shadow: 2px -2px 2px -1px rgb(5 128 73 / 57%);
    margin: 1rem !important;
    border: 1px solid #cecece;
    border-radius: 10px;
}

.posts .notes-paper {
    background-color: #eeeded;
    -webkit-box-shadow: 4px -4px 4px -1px rgba(5, 128, 73, 0.57);
    -moz-box-shadow: 4px -4px 4px -1px rgba(5, 128, 73, 0.57);
    box-shadow: 4px -4px 4px -1px rgba(5, 128, 73, 0.57);
    margin: 1rem !important;
    border: 1px solid #157A6E;
    border-radius: 10px;
}


.posts .challenges {
    background-color: #dee7eb;
    -webkit-box-shadow: 4px -4px 4px -1px rgba(5, 128, 73, 0.57);
    -moz-box-shadow: 4px -4px 4px -1px rgba(5, 128, 73, 0.57);
    box-shadow: 4px -4px 4px -1px rgba(5, 128, 73, 0.57);
    margin: 1rem !important;
    border: 1px solid #157A6E;
    border-radius: 10px;
}

.popular {
    border: 1px solid #157A6E;
    border-radius: 10px;
}

.posts .card.card-body.bg-secondary,
.challenges .card.card-body.bg-secondary {
    background-color: #ffffe2 !important;
    border: none;
}

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255) !important;
}

.navbar-toggler {
    border: 0px solid transparent !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important
}

.tags p {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border: .5px solid #6c757d;
    border-radius: 0.2rem;
    font-size: 0.8rem;
}

.tags p:hover {
    cursor: context-menu;
    background-color: transparent;
}

div .jumbotron {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
    background-color: #f3f3f2 !important;
    border-radius: .3rem;
}

.blink_me {
    color: #ffffff !important;
    background-color: rgb(148, 123, 97);
    padding: .08rem .5rem .2rem .5rem;
    border: 1px solid #B4654A;
    border-radius: 5px !important;
    animation: blinker 1.8s linear infinite;
}

.blink_load {
    color: #ffffff !important;
    background-color: #157A6E;
    padding: .8rem;
    border: 1px solid #ffffff;
    border-radius: 5px !important;
    animation: blinker 1.8s linear infinite;
}

.blink_more {
    animation: blinker 1.8s linear infinite;
}

a.blink_me,
a.blink_me:active,
a.blink_me:hover {
    text-decoration: none;
}

ul.webmaster-navbar {
    background-color: #e7f1ed !important;
}

.dashboard-img img {
    max-width: 100%;
    height: 140px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    border-radius: 5px !important;
}

.nav-tabs a.nav-link {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.nav-tabs a.nav-link.active {
    color: #157A6E !important;
    background-color: #fff !important;
    border-color: #dee2e6 #bdf5d5 #fff !important;
}

.answer-option.btn.btn-outline-info {
    transition: all .5s ease;
}

.answer-option.btn.btn-outline-info:hover {
    color: black !important;
    background-color: #ffffff !important;
    font-weight: 700 !important;
}

.answer-option.btn.btn-outline-info:active {
    color: rgb(255, 255, 255) !important;
    background-color: #157A6E !important;
}

div.answer,
div.question-section {
    opacity: 1;
    animation-name: answer;
    animation-duration: 3s;
}

.delete-modal .modal-content {
    border: 2px solid #aa1313;
    border-radius: 5px;
    box-shadow: none !important;
}

.single-category .toast-header .mr-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.quiz-toast .toast-header .mr-auto {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.users-toast .userDetails small i {
    font-size: .5rem;
    color: coral;
    margin-top: 1rem;
}

.users-toast .illustration .illustration-image {
    height: 140px;
}

.users-toast .illustration .illustration-image img {
    max-width: 100%;
    height: 100%;
}

.users-toast .toast-header .mr-auto {
    display: flex;
    justify-content: space-between;
}

.categories-toast .toast {
    max-width: 100%;
    /* height: 600px !important;
    overflow-y: scroll !important; */
}

.quiz-toast .toast,
.report-toast .toast,
.admin-toast .toast,
.contact-card .card {
    height: 160px !important;
    overflow-y: scroll !important;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar {
    height: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #157A6E;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #499F68;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3b36;
}

.badge {
    line-height: 1.8;
}

.question-view .card .btn-outline-primary {
    color: white;
    border-color: white;
}

.question-view .card .btn-secondary {
    background-color: #157A6E;
}

.search input {
    border-radius: 5px;
    border-color: #157A6E;
    height: 2.2rem;
    padding: .35rem .9rem;
}

.search input::placeholder {
    font-size: 1rem;
    margin-left: 2rem !important;
}

.search .input-group-append span {
    background-color: #157A6E;
    border-color: #157A6E;
}

.modal-content {
    height: fit-content;
}

.forgot-password .search input {
    border-radius: 25px;
}

.forgot-password button.d-block {
    border-radius: 25px;
    background-color: #157A6E;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .25rem .4rem !important;
    font-size: .7rem !important;
    line-height: 1 !important;
}

.all-scores {
    font-size: .9rem !important;
}

.quiz-carousel:hover {
    transform: scale(1.03);
    transition: 600ms;
}

.quiz-carousel .custom-tag {
    width: 100%;
    height: 440px;
    background: rgb(60, 62, 90);
}

.quiz-carousel .carousel-caption {
    background-color: rgb(60, 62, 90);
    opacity: 0.8;
    padding: .4rem;
    margin: 0;
    font-weight: 900 !important;
    border-radius: 10px;
}

.quiz-carousel .carousel-item img,
.subscribe-form img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    opacity: 0.9;
}

.posts .monthly-user.card {
    background-color: #c3e6cb;
}

.posts .monthly-user.card span {
    border: 3px solid #fff;
    padding: 0.01rem !important;
    background-color: rgb(255, 255, 255);
    width: 105px;
    height: 105px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin: auto;
}

.posts .monthly-user.card span img {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    min-width: 100%;
    height: 100%;
}

.posts .monthly-user.card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.posts .monthly-user.card small {
    font-size: .7rem;
    font-weight: bolder;
    color: #17a2b8;
    text-align: center;
    text-transform: uppercase;
}

form.subscribe-form,
.posts .search {
    width: fit-content;
    padding: 1rem;
    border: 1px solid #157A6E;
    background-color: #f1f0f0;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0 4px 5px -4px #1b4f72,
        1px 1px 1px 1px #dcf9ff;
    box-shadow: 0 4px 5px -4px #1b4f72,
        1px 1px 1px 1px #499F68;
}

.posts .search {
    background-color: #ffffff;
}

form.subscribe-form:hover,
.posts .search:hover {
    transform: translateY(5px);
    transition: 500ms;
}

.posts .soon h4 {
    background-color: #157A6E;
    color: #ffffff;
}

.quiz-carousel {
    border: 2px solid #157A6E;
}

.quiz-carousel,
.quiz-carousel .carousel-item img {
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
}

.quiz-carousel .carousel-caption h3 {
    font-size: 2.5rem;
}

.quiz-carousel .carousel-caption p {
    font-size: 1.2rem;
}

.scores-pagination .btn {
    font-weight: 900;
    padding: .2rem .6rem;
    font-size: .9rem;
    line-height: 1;
    border-radius: .25rem;
    margin-left: 1rem;
    width: 50px;
    height: 25px;
}

.scores-pagination .btn:disabled {
    cursor: not-allowed;
}

.resouces-card .card {
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        -41px -5px 40px -23px rgba(22, 193, 59, 0.07);
    box-shadow: 0px 10px 13px -7px #000000,
        -41px -5px 40px -23px rgba(22, 193, 59, 0.07);
}

.resouces-card .card h6,
.resouces-card .card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resouces-card .card h6 :hover,
.resouces-card .card p :hover {
    overflow: visible;
}

.similar-quizes .card h5 {
    font-size: .8rem !important;
    font-weight: 900 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.similar-quizes .card p,
.similar-quizes .card .btn a {
    font-size: .7rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.courses-categories .nav a {
    color: #157A6E;
}

.course-notes .courses-content {
    background-color: #e5e6e7;
}


.course-notes .courses-content .courses-categories {
    background-color: #e9ecef;
}

.course-notes .nav-pills .nav-link.header {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #c9c9c9;
    margin-bottom: 10px;

}

.course-notes .nav-pills .nav-link.item {
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 5px;
    clip-path: polygon(0% 0%, 96% 0, 100% 50%, 96% 100%, 0% 100%);
}

.course-notes .selected-category {
    border: .4px solid #aebdb1 !important;
}

.course-notes .selected-category .categories-home-head {
    color: #a57d04 !important;
    text-shadow: 1.5px 1.5px 1px #157A6E;
}

.course-notes .selected-category .border-success {
    border: none !important;
}

.course-notes .selected-category .add-course {
    display: block;
}

.course-notes .selected-category div .jumbotron {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    background-color: #e5e6e7 !important;
}

.course-notes .card .btn.view-course {
    width: fit-content;
    border-radius: 6px;
    color: #fff;
    background-color: #77B28C;
    border-color: #77B28C;
}

.course-notes .card .btn.view-course:hover {
    background-color: #157A6E;
    border-color: #157A6E;
}

.course-notes .card h5 {
    font-weight: bold;
}

.course-notes .nav-pills .nav-link.item.active,
.course-notes .nav-pills .show>.nav-link.item {
    color: rgb(241, 241, 241);
    background-color: #157A6E;
}

.c-notes.resouces-card .card-img,
.c-notes.resouces-card .card-img-top,
.c-notes.resouces-card .card-img-bottom {
    width: 12%;
}

.chapter-card .card-header {
    background-color: #d4edda;
}

.chapter-card .card-header .btn-group-sm>.btn,
.chapter-card .card-header .btn-sm {
    font-size: 1.1rem !important;
    line-height: 1.2 !important;
}

.course-notes .share-btn {
    font-size: .7rem;
}


@keyframes answer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.select-add-school,
.display-details,
.add-school {
    background-color: rgb(214, 214, 214);
}

/* BIG TABLET */

@media(max-width: 1024px) {
    .answer-option.btn.btn-outline-info {
        transition: none;
    }
}

/* SMALL TABLET & MOBILES*/
@media(max-width: 768px) {

    .profileDropDown {
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .profileDropDown button {
        display: flex;
        align-items: center;
    }

    .profileDropDown-btn span {
        font-size: .7rem;
    }

    header .navbar-brand {
        margin: 0 auto;
    }

    div .jumbotron {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }

    div .jumbotron h1 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    div .jumbotron p {
        font-size: .8rem;
    }

    div .contact {
        margin: 0;
    }

    div .contact h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    div.chat-view.vh-100 {
        height: auto !important;
    }

    div.chat-view.vh-100 h4 {
        font-size: .9rem !important;
    }

    div.chat-view.vh-100 h5 {
        font-size: .8rem !important;
    }

    div .contact>div {
        padding: 0 !important;
    }

    .posts .text-primary a,
    .posts .text-primary a:active {
        font-size: .7rem !important;
        font-weight: 900;
    }

    .notes-paper .card .small-text,
    .quizzes-list .card .small-text {
        font-size: .5rem !important;
        font-weight: bold !important;
    }

    .posts blockquote h1 {
        font-size: 1rem;
    }

    .posts blockquote small {
        font-size: .8rem !important;
    }

    .posts h3 {
        font-size: 1rem;
    }

    .posts h4 {
        font-size: .8rem !important;
    }

    .posts .details {
        font-size: 0.45rem !important;
    }

    .popular .w-75 {
        width: 100% !important;
    }

    .popular .w-25 {
        width: 100% !important;
        margin-top: 20px;
    }

    .popular a span {
        font-size: .7rem
    }

    .popular .badge {
        height: 1.8rem;
    }

    .quiz-carousel .custom-tag {
        height: 400px;
    }

    .tags p {
        padding-top: 0.08rem;
        padding-bottom: 0.08rem;
        border: .4px solid #6c757d;
        border-radius: 0.2rem;
        font-size: 0.6rem;
    }

    .container {
        width: 98% !important;
    }

    .question-section.w-75 {
        width: 100% !important;
    }

    .question-section h5 {
        font-size: 1rem;
    }

    .question-view h4 {
        font-size: 1.1rem;
    }

    .question-view h5 {
        font-size: .8rem !important;
    }

    .question-view .answer .form-check strong {
        font-size: .5rem !important;
    }

    .question-view .answer input {
        font-size: .6rem !important;
    }

    .question-view .answer small {
        font-size: .45rem !important;
    }

    .question-section p.card-text {
        font-size: 0.75rem;
    }

    .question-section small {
        font-size: 0.6rem;
    }

    .question-section .answer.w-25 {
        width: 75% !important;
    }

    .question-section .answer button {
        font-size: 0.75rem;
    }

    button.answer-option {
        width: 90% !important
    }

    .search input::placeholder {
        font-size: .7rem;
        margin-left: 1rem !important;
    }

    .search input {
        height: 1.8rem;
        padding: .35rem .9rem;
    }

    div.input-group-append {
        height: 1.8rem;
    }

    .forgot-password .w-50 {
        width: 100% !important;
    }

    .breadcrumb {
        font-size: .7rem;
    }

    .view-question h4 {
        font-size: .7rem;
    }

    .view-question li {
        font-size: .6rem;
    }

    .actions .btn-group-sm>.btn,
    .btn-sm {
        font-size: .5rem !important;
    }

    form.edit-question,
    form.create-question {
        font-size: .7rem;
    }

    form.edit-question input,
    form.create-question input {
        font-size: .6rem;
        padding: .3rem .4rem;
    }

    form.create-question input {
        padding: .3rem .4rem;
    }

    .one-cat-desc {
        font-size: .5rem;
    }

    .single-category .toast-header {
        font-size: .65rem !important;
    }

    .single-category .toast-body {
        font-size: .6rem !important;
    }

    .popup-toast p {
        font-size: .65rem;
    }

    header .collapse:not(.show) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1.5px solid #ffffff;
        border-radius: 10px;
    }

    header .navbar-collapse {
        font-size: .7rem !important;
    }

    header .navbar-collapse.show {
        display: flex;
        justify-content: space-around;
    }

    .ml-2.register-modal {
        margin-left: 0 !important;
    }

    nav .collapse .login-modal a,
    nav .collapse .register-modal a {
        border: 2px solid #ffc107;
        border-radius: 1.5em;
        color: #fff !important;
        padding: 1px 7px;
        font-size: .7rem;
    }

    nav .toDashboard .dropdown .dropdown-menu {
        width: 15rem;
        transform: translate3d(-187px, 45px, 0px) !important;
    }

    nav .toDashboard .dropdown button {
        padding: 0 !important;
    }

    nav .dropdown-header {
        padding: 0 .4rem;
        font-size: .65rem;
    }

    nav .dropdown-header li {
        font-size: .65rem;
        padding: .5rem .6rem;
        font-weight: bolder;
    }

    nav .dropdown-item-text {
        padding: 0.25rem 1rem;
        font-size: .7rem;
        font-weight: bold;
        color: #212529;
    }

    nav .dropdown-item-text a button {
        padding: 0.08rem !important;
    }

    .past-scores h3,
    .similar-quizes h4 {
        font-size: .9rem;
        font-weight: bolder !important;
    }

    .marks-status h4,
    .score-section h5 {
        font-size: .8rem;
        font-weight: bolder !important;
    }

    .all-scores {
        font-size: .5rem !important;
    }

    .prevNext .btn {
        height: max-content;
        line-height: 1.1;
        font-size: .8rem;
    }

    .prevNext ul {
        height: max-content;
        line-height: 1;
        font-size: .7rem;
    }

    .prevNext ul li {
        margin-top: .4rem;
    }

    .quiz-carousel .carousel-item img {
        max-width: 100%;
        height: 100%;
    }

    .quiz-carousel .carousel-caption {
        width: 100% !important;
        padding: 0;
        display: block !important;
        left: 0;
    }

    .quiz-carousel .carousel-caption h3 {
        font-size: 1rem;
    }

    .quiz-carousel .carousel-caption p {
        font-size: .66rem;
    }

    .scores-pagination .btn {
        padding: .18rem .4rem;
        margin-left: .5rem;
    }

    .course-notes .nav-pills .nav-link.header {
        font-size: 1.2rem;
    }

    .course-notes .nav-pills .nav-link.item {
        font-size: .8rem;
        padding: 12px 0px 12px 5px;
    }

    .course-notes .selected-category h3 {
        font-size: 1.4rem;
    }

    .course-notes .selected-category h4 {
        font-size: 1.25rem;
        padding-top: 1rem;
    }

}

/* MOBILES*/
@media(max-width: 414px) {

    .mobile-categories .mob-cat-btn {
        border: 1.3px solid #157A6E;
        font-size: .8rem;
        font-weight: 900;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: 0 4px 2px -2px gray;
    }

    .mobile-categories .list-group {
        border: .2px solid #157A6E;
    }

    .mobile-categories .mob-quiz {
        font-size: .8rem;
        color: #17a2b8;
        font-weight: 900;
    }

    .course-notes .row .col {
        padding-right: 0;
        padding-left: 0;
    }

    .course-notes .row .col h5 {
        font-size: .92rem;
        margin-bottom: 1rem !important;
    }

    .course-notes .courses-content .navbar-light .navbar-brand,
    .course-notes .courses-content .navbar-light .navbar-toggler {
        color: #157A6E;
        font-weight: bold;
        text-transform: uppercase;
    }

    .course-notes .navbar-light .navbar-nav .nav-link {
        color: #157A6E;
        font-size: .7rem;
        padding-left: .4rem;
        font-weight: bold;
        padding-top: 4px;
        padding-bottom: 4px;
        text-transform: uppercase;
    }

    .course-notes .navbar-light .navbar-nav .active>.nav-link,
    .course-notes .navbar-light .navbar-nav .nav-link.active,
    .course-notes .navbar-light .navbar-nav .nav-link.show,
    .course-notes .navbar-light .navbar-nav .show>.nav-link {
        color: rgb(241, 241, 241);
        background-color: #157A6E;
    }

    .course-notes .selected-category h3 {
        font-size: 1.1rem;
    }

    .course-notes .selected-category h4 {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .course-notes .selected-category .card-body {
        padding: .8rem;
    }

    .course-notes .selected-category .list-group-item {
        padding: .2rem
    }

    .course-notes .selected-category .jumbotron {
        padding: 1rem .6rem;
        margin-bottom: .2rem;
    }

    .course-notes .selected-category .nav-link {
        padding: .1rem .5rem;
        font-size: .65rem;
        text-transform: uppercase;
        font-weight: bolder;
        color: #157A6E;
    }

    .course-notes .card h5 {
        font-size: .8rem;
    }

    .course-notes .card p {
        font-size: .66rem;
    }

    .course-notes .card .btn {
        font-size: .66rem;
        padding: 4px 8px;
    }

    .course-notes div .jumbotron p {
        font-size: .7rem;
    }

    .course-notes .share-text {
        text-align: center;
        margin-bottom: 0;
    }

    .course-notes .share-btn {
        display: block;
        width: 100%;
        margin: 1rem auto;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {

        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .view-course-container .alert,
    .view-course-container .chapter-card,
    .view-course-container .chapter-card .card-header {
        padding: .4rem .6rem;
    }

    .view-course-container .breadcrumb {
        font-size: .6rem;
        margin-bottom: .6rem;
    }

    .view-course-container h4 {
        font-size: .8rem;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
    }

    .view-course-container h5 {
        font-size: .6rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .view-course-container p {
        font-size: .6rem;
    }

    .view-course-container p.text-muted {
        font-size: .5rem;
    }

    .view-course-container .chapter-card .card-header span {
        font-size: .8rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .view-course-container .chapter-card .card-body {
        padding: 0;
    }

    .view-course-container .chapter-card .card-body .add-notes-btn {
        margin-left: auto;
    }

    .view-course-container #accordion .c-notes.resouces-card {
        padding: 0;
    }

    .view-course-container #accordion .c-notes.resouces-card .card-img,
    .view-course-container #accordion .c-notes.resouces-card .card-img-top,
    .view-course-container #accordion .c-notes.resouces-card .card-img-bottom {
        width: 50px;
    }

    .view-course-container .chapter-card .c-notes.resouces-card .card-body {
        padding-left: .4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .view-course-container .chapter-card .c-notes.resouces-card h6 {
        font-size: .48rem;
        text-transform: uppercase;
        font-weight: bolder;
    }

    .view-course-container .chapter-card .c-notes.resouces-card p {
        font-size: .5rem;
        margin-bottom: .4rem;
    }

    .view-course-container .chapter-card .c-notes.resouces-card .action-btns {
        display: flex;
        justify-content: center;
        font-size: .6rem;
    }

    .view-course-container .chapter-card .c-notes.resouces-card .action-btns .btn {
        font-size: .6rem;
        padding: .1rem .5rem !important;
    }

    .view-course-container .chapter-card .c-notes.resouces-card .action-btns .btn a {
        font-size: .4rem;
    }

    header .collapse.show .btn a {
        font-size: .9rem;
    }

    header .back-home {
        display: none;
        padding: 0;
        padding-left: 2px;
        padding-right: 2px;
    }

    header .back-home-link {
        font-size: .5rem !important;
        vertical-align: inherit;
    }

}

/* Tabs */
.docDetails {
    margin: 0 !important;
    background-color: rgb(238, 238, 238);
    padding: 2rem 10rem;
}

.tabs h2 {
    text-align: center;
}

.tabs h2 {
    color: #1b4f72;
    text-align: center;
    margin-left: 0;
    margin-bottom: 2rem;
}

.tabs h2 span {
    text-decoration-line: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.3rem;
    text-decoration-color: rgb(3, 159, 190);
}

.tabs ul:first-child {
    border-bottom: 2px solid #7c8f8c !important;
}

.tabs li {
    color: rgb(0, 0, 0);
}


@media screen and (max-width: 1024px) {
    .docDetails {
        height: fit-content;
        padding: .5rem;
    }

    .tabs h2 {
        margin-bottom: 1.5rem;
    }

    .tabs ul:first-child {
        border-bottom: 1.2px solid #fff !important;
    }
}

/* FacultiesCollapse */
.docsList li {
    display: block;
    list-style: none;
    margin: .6rem 0;
    border: 1px solid #157A6E;
    border-radius: .3rem;
    background-color: #ececec;
}

.docsList {
    display: block;
}

.titleToggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border: 2px solid #157A6E;
    border-radius: .3rem;
}

.titleToggler h3 {
    color: #157A6E;
    margin-bottom: 1.1rem;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 900;
}

.titleToggler button {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border: none;
    background: transparent !important;
}

.collapseContent {
    padding: 1rem 5rem 0 5rem;
    color: #fff;
}

.collapseContent h6 {
    color: #dceaf7;
    margin: 1.1rem auto;
    font-size: .7rem;
    font-weight: 900;
}

.collapseContent p {
    font-size: 1rem;
}

.collapseContent small {
    margin-bottom: 1.1rem !important;
    font-size: .7rem;
    text-decoration: underline;
}

.docsLinks {
    padding: 2rem 0 .8rem 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.docsLinks button {
    margin: 0 .5rem;
    padding: .4rem .7rem;
    border: 1px solid #ffc107 !important;
    border-radius: 0.3rem;
    font-size: 0.7rem;
    background-color: #ffc107 !important;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1024px) {
    ul.docsList {
        padding: 0 .7rem;
    }

    .docsList li {
        margin: 1rem 0;
        border: .8px solid #157A6E;
    }

    .titleToggler {
        padding: .8rem;
        border: 1.2px solid #157A6E;
    }

    .titleToggler h3 {
        margin-bottom: 1.2rem;
        font-size: .8rem;
    }

    .collapseContent {
        padding: .8rem .5rem;
    }

    .collapseContent h6 {
        margin: 1.1rem auto;
        font-size: .65rem;
    }

    .collapseContent p {
        font-size: .7rem;
    }

    .collapseContent small {
        margin-bottom: 1.1rem !important;
        font-size: .6rem;
    }

    .docsLinks {
        padding: 0;
        padding-top: 1.5rem;
        margin-bottom: 0;
    }
}