.view-pdf {
    margin: 1em auto;
}

.view-pdf section.linkAnnotation {
    height: 100% !important;
}

.view-pdf .react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5px solid rgb(85, 85, 85);
    border-radius: 10px;
}

.view-pdf .react-pdf__Page {
    max-width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin: .5em;
}

.view-pdf .react-pdf__Page canvas {
    max-width: 100%;
    height: auto !important;
}

.view-pdf .react-pdf__message {
    padding: 20px;
    color: white;
}

.view-pdf canvas {
    max-width: 100%;
    height: auto !important;
}


/* MOBILES*/
@media screen and (max-width: 768px) {
    .view-pdf {
        border: none !important;
    }

    .view-pdf p {
        font-size: .7rem !important;
        margin: auto !important;
    }

    .view-pdf h2 {
        font-size: 1rem !important;
        font-weight: bolder !important;
        margin: auto !important;
        text-align: center !important;
        margin-bottom: 30px !important;
    }


    .view-pdf section.linkAnnotation {
        height: 100% !important;
        width: 100% !important;
    }

    .view-pdf button {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        font-size: .7rem !important;
    }
}